<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OTV - ARPS</title>
        <link rel="stylesheet" href="/static/site.css" />
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    </head>

    <button class="btn btn-outline btn-info" hx-get="admin/test-pattern?state=on">Test-Pattern On</button>
    <button class="btn btn-outline btn-info" hx-get="admin/test-pattern?state=off">Test-Pattern Off</button>

    </html>