<div class="schedule-talks grid gap-4 grid-cols-2 place-content-stretch">

        <div class="card indicator bg-base-300 rounded-box" style="display:{{ schedule["Track 1"]["NOW"]["Display"]}}">
            <div class="indicator-item badge badge-secondary">NOW</div>
            <div class="card-body">
                <h4 class="card-title">{{ schedule["Track 1"]["NOW"]["Title"]}}</h4>
                <p>{{ schedule["Track 1"]["NOW"]["Speaker"]}}</p>
                <p>{{ schedule["Track 1"]["NOW"]["StartTime"]}} - {{ schedule["Track 1"]["NOW"]["Duration"]}}min - <b>Track 1</b></p>
            </div>
        </div>
        <div class="card indicator bg-base-300 rounded-box" style="display:{{ schedule["Track 2"]["NOW"]["Display"]}}">
            <div class="indicator-item badge badge-secondary">NOW</div>
            <div class="card-body">
                <h4 class="card-title">{{ schedule["Track 2"]["NOW"]["Title"]}}</h4>
                <p>{{ schedule["Track 2"]["NOW"]["Speaker"]}}</p>
                <p>{{ schedule["Track 2"]["NOW"]["StartTime"]}} - {{ schedule["Track 2"]["NOW"]["Duration"]}}min - <b>Track 2</b></p>
            </div>
        </div>
 

    <div class="card indicator bg-base-300 rounded-box" style="display:{{ schedule["Track 1"]["NEXT"]["Display"]}}">
        <div class="indicator-item badge badge-secondary">NEXT</div>
        <div class="card-body">
            <h4 class="card-title">{{ schedule["Track 1"]["NEXT"]["Title"]}}</h4>
            <p>{{ schedule["Track 1"]["NEXT"]["Speaker"]}}</p>
            <p>{{ schedule["Track 1"]["NEXT"]["StartTime"]}} - {{ schedule["Track 1"]["NEXT"]["Duration"]}}min - <b>Track 1</b></p>
        </div>
    </div>
    <div class="card indicator bg-base-300 rounded-box" style="display:{{ schedule["Track 2"]["NEXT"]["Display"]}}">
        <div class="indicator-item badge badge-secondary">NEXT</div>
        <div class="card-body">
            <h4 class="card-title">{{ schedule["Track 2"]["NEXT"]["Title"]}}</h4>
            <p>{{ schedule["Track 2"]["NEXT"]["Speaker"]}}</p>
            <p>{{ schedule["Track 2"]["NEXT"]["StartTime"]}} - {{ schedule["Track 2"]["NEXT"]["Duration"]}}min - <b>Track 2</b></p>
        </div>
</div>

